.cart-section {
    height: 100%;
    width: 50vw;
    background-color: red;
    position: fixed;
    right: -100%;
    /* right: 0; */
    transition: all 0.4s;
    /* overflow: scroll; */
}

.show-cart {
    right: 0;
}